{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{%  load static %}
{%  block content %}
<section class="about_banner">
    <div class="container">
      <div class="row text-center">
        <p data-aos="fade-down" data-aos-duration="1000">“Every great Love Story deserves a Dream Wedding Invite!” <span>We cordially invite you to join the Weddings by Graphē fam for a fun-filled ride!</span></p>
        <h1 data-aos="fade-up" data-aos-duration="1300">How to get <span>the perfect invite?</span></h1>
        <small class="highlite_text" data-aos="fade-up" data-aos-duration="1800">Follow these simple steps to get on board with our team:</small>
      </div>
    </div>
  </section>

  <section class="about_bodytext">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-md-10 p-0">
          <div class="stepdiv">
            <div class="stepcount">1</div>
            <h1 class="text-center" data-aos="fade-up" data-aos-duration="1300">Reach Out</span></h1>
            <ul class="aboutSocial">
              <li><a href=""><img src="assets/image/insta.svg" alt="">weddings@thegraphe.com</a></li>
              <li><a href=""><img src="assets/image/insta.svg" alt="">+91-7727827092</a></li>
              <li><a href=""><img src="assets/image/insta.svg" alt="">/thegraphe</a></li>
              <li><a href=""><img src="assets/image/insta.svg" alt="">/thegraphe</a></li>
              <li><a href=""><img src="assets/image/insta.svg" alt="">/thegraphe</a></li>
              <li><a href=""><img src="assets/image/insta.svg" alt="">/thegraphe</a></li>
            </ul>
            <div class="about_cap">
              <h6>Our team inquires about your invitation necessities wherein we'd require you to make a choice between the subsequent alternatives:</h6>
              <ul>
                <li>New Template or Existing Template</li>
                <li>Video or Static Invite</li>
                <li>Story-based or Event-based Invite</li>
                <li>2-D Videos or 3-D Videos</li>
                <li>Logo or No Logo</li>
                <li>Caricature or No Caricature</li>
              </ul>
              <div class="note_Text">
                <p>Once you’ve contacted us, our team will get back to you <b>within 48 hours.</b></p>
                <p><b>P.S.</b> Our working hours are from <b>9:30 AM – 6:30 PM.</b></p>
                <p><b>P.P.S.</b> To avoid time constraints, delays & scampered situations, we recommend booking us <b>2 months before your wedding.</b></p>
              </div>
            </div>
          </div>
          <!--End STEP1-->
          <div class="stepdiv">
            <div class="stepcount">2</div>
            <h1 class="text-center" data-aos="fade-up" data-aos-duration="1300">Share your gorgeous pictures</span></h1>
            <p>Rest assured we’re not weirdos. These photos are strictly for business purposes.</p>
            <div class="about_cap">
              <h6>If you decide to get wedding caricatures and caricature wedding invitations, we'll need you to send us clear, high-resolution pictures of your face.</h6>
              <div class="note_Text mt-5">
                <p><b>P.S.</b> Please avoid sending selfies because we will use them to trace your face while designing the wedding caricatures and caricature wedding invitations.</p>
              </div>
            </div>
          </div>
          <!--End STEP2-->
          <div class="stepdiv">
            <div class="stepcount">3</div>
            <h1 class="text-center" data-aos="fade-up" data-aos-duration="1300">Allotment of designs</span></h1>
            <div class="about_cap">
              <h6>Next, our team will send you a PDF with concepts and images that correspond to your storyline and caricature wedding invitation.</h6>
              <h6>You can also disclose your ideas so that we can recreate them and bring your visions to life!</h6>
            </div>
          </div>
          <!--End STEP3-->

          <div class="stepdiv">
            <div class="stepcount">4</div>
            <h1 class="text-center" data-aos="fade-up" data-aos-duration="1300">Design Process</span></h1>
            <p>Estimated timespans for the design process:</p>
            <ul class="d_process">
              <li>
                <small>Statics</small>
                <h5>4-5<span>days</span></h5>
              </li>
              <li>
                <small>2D Videos</small>
                <h5>3-4<span>weeks</span></h5>
              </li>
              <li>
                <small>3D Videos</small>
                <h5>30<span>days</span></h5>
              </li>
            </ul>
          </div>
          <!--End STEP4-->
          <div class="extText">
            <p>
              Please note that this is a general process that all clients need to follow so that we can make the onboarding process smooth & effortless. Other than digital save the date cards and caricature wedding invitations, we also design different types of wedding stationery & event-related invites including wedding welcome cards, baby birth announcement videos, wedding anniversary invitations, & animated birthday invitation videos.
            </p>
            <p class="mt-lg-5 mt-4">For more details, please write to us on <span class="d-block"><b>weddings@thegraphe.com.</b></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}